*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Used the root element to target all font sizes rather than adding a class to individual sections */
/* As well as added variables to the mix to then be able to use them for the body*/
:root {
    --ff-primary: 'Raleway','sans-serif';
    --ff-secondary: 'Antonio','sans-serif';

    --fw-reg: 200;
    --fw-bold: 800;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #282828;
    --clr-accent: rgb(125, 217, 220);

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --boxS: .25em .25em .75em rgba(0, 0, 0, 0.887),
             .125em .125em .25em rgba(0, 0, 0, 0.904);
}
/* Adding this media query when using bigger screens and adding the root element in it to automatically change to the following font sizes when it reaches the alloted pixel size */
@media (min-width: 800px)  {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
} 

/*General Styling*/

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

/*Basic text*/



h1,h2,h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title{
    margin-bottom: .20em;
    
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

nav {display: none;}

/* Intro Section */

.intro {
    position: relative;
}
.intro__img {
    box-shadow: var(--boxS);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;    
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My services Section */

.my-services {
    background-color: rgba(72, 68, 68, 0.654);
    background-image: url(./0x0.jpeg);
    background-size: cover; 
    background-blend-mode: overlay;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}
@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
}







