*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Used the root element to target all font sizes rather than adding a class to individual sections */
/* As well as added variables to the mix to then be able to use them for the body*/
:root {
    --ff-primary: 'Raleway','sans-serif';
    --ff-secondary: 'Antonio','sans-serif';

    --fw-reg: 200;
    --fw-bold: 800;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #252525;
    --clr-accent: rgb(125, 217, 220);

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --boxS: .25em .25em .75em rgba(0, 0, 0, 0.887),
            .125em .125em .25em rgba(0, 0, 0, 0.904);
}
/* Adding this media query when using bigger screens and adding the root element in it to automatically change to the following font sizes when it reaches the alloted pixel size */
@media (min-width: 800px)  {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
} 

/*General Styling*/

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

/* Button Design */

.btn {
    display: inline-block;
    padding: 1.0em 2.0em;
    background: var(--clr-accent);
    cursor: pointer;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: 600ms ease-in-out;
}

.btn:hover {
    transform: scale(1.3);
}

/*Basic texts */

h1,h2,h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section-intro{
    margin-bottom: .50em;
    
}

.section-intro {
    font-weight: var(--fw-reg);
}

.section-intro strong{
    display: block;
}

.section-subIntro{
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subIntro,
.section-subAbout {
    background: var(--clr-accent);
    padding: .30em;
    font-family: var(--ff-primary);
    margin-bottom: 3em;
}

.section-subWork {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
 }

/* Header */ 

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 175px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 600ms;
}

.nav-ul {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-accent)
}

.nav-button {
    margin-top: 4em;
    margin-bottom: 4.5em;
    padding: .3em;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.5em;
    z-index: 1000;
}

.nav-button:hover {
color: var(--clr-accent);
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-button {
    position: fixed;
} 

/* Intro Section */

.intro {
    position: relative;
}
.intro-img {
    box-shadow: var(--boxS);
}

.section-subIntro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;    
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section-subIntro {
        align-self: start;
        grid-row: 2;
        grid-column: -1 / 1;
        text-align: right;
        position: relative;
        left: -1.5em;
    }
}

/* My Skills Section */

.my-skills {
    background-color: rgba(72, 68, 68, 0.654);
    background-image: url(./0x0.jpeg);
    background-size: cover; 
    background-blend-mode: overlay;
    color: var(--clr-light);
    text-align: center;
}

.section-skills {
    color: var(--clr-accent);
    position: relative;
}

.skills {
    max-width: 500px;
    margin: 0 auto;
}



/* About Me Section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me-img {
    box-shadow: var(--boxS);
}

 @media (min-width: 600px) {
     .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
             "title img"
             "subtitle img"
             "text img";
        grid-column-gap: 2em;
     }
     .section-about {
        grid-area: title;
     }

    .section-subAbout {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
    }

     .about-me-img {
        grid-area: img;
        position: relative;
     }

          
 }
 .about-me-img {
    box-shadow: var(--boxS);
}
 /* Portfolio */

 .my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
 }

 .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
/* Because I made the background to the accent color when i hover over the images it gives it that nice color that otherwise would not be there */
 .portfolio-item {
    background: var(--clr-accent);
 }

 .portfolio-img {
    transition: transform 1000ms;
    opacity: 250ms;
 }

 .portfolio-img:hover {
    transform: scale(1.3);
    opacity: .8;
 }
 /* Footer */

 .footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3)
 }

 .footer a {
    color: var(--clr-accent);
 }

.footer-link:hover,
.social-list-link:hover {
    opacity: .4;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
 .social-list-item {
    margin: 0 3em;
    margin-top: 1em;
 }